* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #AD9269;
  --text-color: #65625F;
  --background-color: #FFF9F3;
  --secondary-background-color: rgba(173, 146, 105, 0.26);
}

body {
  background-color: var(--background-color);
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: 0px 120px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

a {
    text-decoration: none;
}

header nav ul a {
  color: var(--text-color);
  font-size: 15px;
}

section {
  min-height: 700px;
  padding: 50px 120px;

}

article {
  width: 100%;
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

article h3 {
  font-size: 24px;
}

article p {
  font-size: 14px;
}

h1 {
  font-size: 48px;
  color: var(--primary-color);

  font-weight: 600;
}

p {
  font-size: 17px;
  color: var(--text-color);
  font-weight: 600;
  line-height: 30px;
}

h3 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 500;
}

button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 40px;
  background-color: var(--primary-color);
  color: #FFF9F3;
  font-size: 20px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 80px 80px;
  background-color: var(--secondary-background-color);
}

footer h1 {
  font-size: 24px;
}

footer p {
  font-size: 14px;
}

footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer nav li {
  list-style: none;
  font-size: 14px;
  color: var(--text-color);
}

footer nav li a {
  color: var(--text-color);
}

.logo {
  max-width: 100px;
}

.scheduling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  justify-content: center;
}

.scheduling img {
  max-width: 500px;
}


.scheduling h1 span {
  font-style: italic;
  font-weight: lighter;
}

.scheduling div {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.bloom-space {
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 344px;
  padding: 0px 120px;
}

.bloom-space div {
  display: flex;
  flex-direction: column;
  gap: 47px;
}

.bloom-space h1 {
  max-width: 600px;
}

.bloom-space img {
 margin-right: 100px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service img {
  max-width: 300px;
}

.service div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 0.5px var(--primary-color);

  width: 100%;
  padding: 16px;
}


.testimonials {
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0px 120px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  background-color: var(--background-color);
  border: var(--primary-color) solid 1px;
  width: 420px;
  height: 210px;
  padding: 0px 20px 20px 20px;
  gap: 15px;
}

.card img {
  margin-top: -70px;
}

.card h1 {
  font-size: 20px;
}

.card p {
  text-align: center;
  justify-content: center;
  max-width: 250px;
}

.location {
  position: relative;
}

.maps {
  z-index: 2;
  position: relative;
}

.location::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--secondary-background-color);
  z-index: 1;

}

.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: var(--background-color);
  border: var(--primary-color) solid 1px;
  padding: 40px 20px;
  gap: 15px;
}

.card-contact:hover {
  background-color: var(--secondary-background-color);
}

.service-list {
 display: flex;
 gap: 50px;
 align-items: center;
}

.service-list img {
  width: 317px;
}

.text-service {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
